<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Admin Add Bus</title>
</head>

<body>
{% include 'adminheader.html' %}
      <div class="container">
        <h1 class="my-4 text-center">Add Bus</h1><div class="container border rounded-3 border-2 px-4 pt-4 pb-2" style="max-width: 540px;">
            <form method="post" action="{% url 'adminaddbus' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-2">
                  <label for="exampleInputbusname" class="form-label">Bus Name</label>
                  <input type="text" class="form-control" name="busname" id="exampleInputbusname" placeholder="Bus Name" required>
                </div>
                <div class="mb-2">
                    <label for="exampleInputbusnumber" class="form-label">Bus Number</label>
                    <input type="number" class="form-control" name="busnumber" id="exampleInputbusnumber" placeholder="Bus Number" required>
                </div>
                <div class="mb-2">
                  <label for="date" class="form-label">Date</label>
                  <input type="date" class="form-control" name="date" id="date" placeholder="Date" required>
              </div>
              <div class="mb-2">
                <label for="ticketprice" class="form-label">Ticket Price</label>
                <input type="number" class="form-control" name="ticketprice" id="ticketprice" placeholder="Ticket Price" required>
            </div>
                <div class="mb-2">
                    <label for="exampleInputsource" class="form-label">Source</label>
                    <input type="text" class="form-control" name="source" id="exampleInputsource" placeholder="Bus Source" required>
                  </div>
                  <div class="mb-2">
                    <label for="deparchertime" class="form-label">Deparcher Time</label>
                    <input type="time" class="form-control" name="deparchertime" id="deparchertime" placeholder="Deparcher Time" required>
                  </div>
                  <div class="mb-2">
                    <label for="destination" class="form-label">Destination</label>
                    <input type="text" class="form-control" name="destination" id="destination" placeholder="Destination" required>
                  </div>
                  <div class="mb-2">
                    <label for="arrivaltime" class="form-label">Arrival Time</label>
                    <input type="time" class="form-control" name="arrivaltime" id="arrivaltime" placeholder="Arrival Time" required>
                  </div>
                  <div class="mb-2">
                    <label for="seats" class="form-label">Number of Seats</label>
                    <input type="number" class="form-control" name="seats" id="seats" placeholder="Number of Seats" required>
                </div>
                <div class="mb-2">
                  <label for="busimg" class="form-label">Bus Image</label>
                  <input type="file" class="form-control" name="busimg" id="busimg" aria-describedby="passwordHelp" required>
                  {% for message in messages %}
                  <div id="passwordHelp" class="form-text text-danger">*{{message}}</div>
		          {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus" style="margin-right: 5px;"></i>Add</button>
              </form>
        </div> 
      </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
{% include 'footer.html' %}
</html>