<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Admin Bookings</title>
</head>

<body>
    {% include 'adminheader.html' %}

    <div class="container">
        <h1 class="my-4 text-center">Admin Booking</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">No.of Seats</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Source</th>
                    <th scope="col">destination</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                {% for x in my_data %}
                <tr>
                    <th scope="row">{{x.id}}</th>
                    <td>{{x.name}}</td>
                    <td>{{x.transactionid}}</td>
                    <td>{{x.noseats}}</td>
                    <td>{{x.totalprice}}</td>
                    <td>{{x.date}}</td>
                    <td>{{x.source}}</td>
                    <td>{{x.destination}}</td>
                    <td>{{x.status}}</td>
                    <td>
                        <a href="/admin_panel/statusbooked/{{x.id}}" class="btn btn-danger btn-sm" style="margin-right: 10px;"><i class="fa-solid fa-check"></i></a>
                        <a href="/admin_panel/statusrejected/{{x.id}}" class="btn btn-danger btn-sm"style="margin-right: 10px;"><i class="fa-solid fa-xmark"></i></a>
                    </td>
                    <td><a href="{{forloop.counter}}" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#exampleModal-{{forloop.counter}}"><i class="fa-solid fa-eye"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for v in my_data %}
        <div class="modal fade" id="exampleModal-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ticket Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><b>Customer Name:</b> {{v.name}}</li>
                            <li class="list-group-item"><b>Email:</b> {{v.email}}</li>
                            <li class="list-group-item"><b>Transaction ID:</b> {{v.transactionid}}</li>
                            <li class="list-group-item"><b>Date:</b> {{v.date}}</li>
                            <li class="list-group-item"><b>Bus Number:</b> {{v.busnumber}}</li>
                            <li class="list-group-item"><b>Bus Name:</b> {{v.busname}}</li>
                            <li class="list-group-item"><b>Source:</b> {{v.source}}</li>
                            <li class="list-group-item"><b>Deparcher Time:</b> {{v.deparchertime}}</li>
                            <li class="list-group-item"><b>Destination:</b> {{v.destination}}</li>
                            <li class="list-group-item"><b>Arrival Time:</b> {{v.arrivaltime}}</li>
                            <li class="list-group-item"><b>Durition:</b> {{v.durition}}</li>
                            <li class="list-group-item"><b>No of seats:</b> {{v.noseats}}</li>
                            <li class="list-group-item"><b>Total Price:</b> {{v.totalprice}}/-</li>
                            <li class="list-group-item"><b>Status:</b> {{v.status}}</li>
                        </ul> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
{% include 'footer.html' %}

</html>