<footer>
  <div class="container-fluid p-4 mt-5 bg-dark text-light">
    <div class="container pt-4">
      <div class="row">
        <div class="col-md-4">
          <h3>Bus Ticket Reservation System</h3>
          <p>Online bus ticket booking also gives you<br> the freedom to choose your mode of<br> payment. No more do you
            have to carry<br> cash or pay for your tickets in cash. You<br> can avail a variety of payment modes<br>
            when you choose to book bus online<br> on Book Bus.
          </p><a href="linkedin.com/in/satishkumarverma3" target="_blank" style="color: white;"><i
              class="fa-brands fa-linkedin fa-xl"></i></a>
        </div>
        <div class="col-md-4">
          <h3>Contact Information</h3>
          <p>17, Laxmi Narayan Nagar,<br> Indira Nagar, Erode - 638003.</p>
          <p><i class="fa-solid fa-envelope fa-xs" style="margin-right: 5px;"></i>satishkumarverma413@email.com</p>
        </div>
        <div class="col-md-4">
          <h3>Service Hours</h3>
          <p>Every Day 24x7</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">
          <p style="font-size: small;">&copy; 2023. Created by Satish Kumar Verma. All right reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>